<app-main-layout>
  <span ngProjectAs="header-content">Analysis</span>

  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6 mt-2">
    <app-total-counters />
  </div>

  <div
    ngProjectAs="bottom-content"
    class="mt-6 w-80 overflow-x-hidden h-screen"
  >
    <div class="grid grid-cols-4 rounded-3xl bg-cyprus py-1 px-1 mb-6">
      @for (data of btnsData(); track $index) {
        <app-custom-btn
          [text]="data.text"
          bgColor="cyprus"
          [selected]="data.selected"
          textColor="white"
          rounded="md"
          (click)="selectedBtnToggle($index)"
        />
      }
    </div>

    <app-bar-chart />
  </div>
</app-main-layout>
