<app-main-layout>
  <span ngProjectAs="header-content">Analysis</span>

  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6 mt-2">
    <app-total-counters />
  </div>

  <div
    ngProjectAs="bottom-content"
    class="mt-6 w-80 overflow-x-hidden h-screen"
    (scroll)="onScroll($event)"
  >
    <div class="grid grid-cols-4 rounded-3xl bg-cyprus py-1 px-1 mb-8">
      @for (text of btnsTexts(); track $index) {
        <app-custom-btn
          [text]="text"
          bgColor="cyprus"
          [selected]="text === selectedBtnText()"
          textColor="white"
          rounded="md"
          (click)="selectedBtnToggle(text)"
        />
      }
    </div>

    <app-bar-chart
      [chartLabels]="chartLabels()"
      [totalIncome]="totalIncomeAndExpenses().totalIncome"
      [totalExpenses]="totalIncomeAndExpenses().totalExpenses"
    />

    <div class="flex justify-around my-8">
      <app-income-counter [totalIncome]="totalIncome" />
      <app-expenses-counter [totalExpenses]="totalExpenses" />
    </div>

    <span class="flex mb-2">My Targets</span>

    <div class="grid grid-cols-2 justify-items-center gap-4 mb-24">
      @for (saving of savings(); track $index) {
        <div
          class="flex flex-col bg-light-blue u-border-radius-3.5xl px-1.5 py-3"
          (click)="routerService.navigateToSavingsView(saving)"
        >
          <app-progress-circle
            [randomSaving]="saving"
            [classNames]="'-translate-y-2'"
            [width]="65"
            [height]="65"
            [radius]="38"
            [stroke]="'#F1FFF3'"
            [showPercentage]="true"
          />

          <span class="text-sm self-center leading-4 truncate w-28"
            >{{ saving.savingTitle }}
          </span>
        </div>
      }
    </div>
  </div>
</app-main-layout>
