<app-main-layout>
  <span ngProjectAs="header-content">Analysis</span>

  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6 mt-2">
    <app-total-counters />
  </div>

  <div
    ngProjectAs="bottom-content"
    class="mt-6 w-80 overflow-x-hidden h-screen"
  >
    <div class="grid grid-cols-4 rounded-3xl bg-cyprus py-1 px-1 mb-8">
      @for (text of btnsTexts(); track $index) {
        <app-custom-btn
          [text]="text"
          bgColor="cyprus"
          [selected]="text === selectedBtnText()"
          textColor="white"
          rounded="md"
          (click)="selectedBtnToggle(text)"
        />
      }
    </div>

    <app-bar-chart
      [chartLabels]="chartLabels()"
      [totalIncome]="totalIncomeAndExpenses().totalIncome"
      [totalExpenses]="totalIncomeAndExpenses().totalExpenses"
    />

    <div class="flex justify-around mt-8">
      <app-income-counter [totalIncome]="totalIncome" />
      <app-expenses-counter [totalExpenses]="totalExpenses" />
    </div>
  </div>
</app-main-layout>
