<div
  class="h-screen flex justify-between flex-col text-center font-league-spartan"
>
  <div
    class="flex justify-center text-center items-center"
    [class.min-h-32]="screenMode() === 'full'"
    [class.min-h-64]="screenMode() !== 'full'"
  >
    <p class="text-light-green text-3xl font-semibold w-full">
      <ng-content select="top-content" />
    </p>
  </div>

  <div
    class="flex justify-center font-league-spartan h-full bg-main-layout u-border-radius-top-xl overflow-auto overflow-x-hidden"
  >
    <ng-content select="bottom-content" />
  </div>
</div>
