<div
  class="h-screen flex justify-between flex-col text-center font-league-spartan"
>
  <div
    class="flex flex-col text-center items-center"
    [class.min-h-32]="screenMode() === 'full'"
    [class.min-h-64]="screenMode() !== 'full'"
  >
    @if (showBackArrow()) {
    <div
      class="flex justify-between items-center w-full p-8 text-2xl font-semibold"
    >
      <app-back-arrow class="" (click)="navigateBack()" />

      <ng-content select="header-content" />

      <app-bell />
    </div>
    }
    <div class="text-light-green text-3xl font-semibold w-full">
      <ng-content select="top-content" />
    </div>
  </div>

  <div
    class="flex justify-center font-league-spartan h-full bg-main-layout u-border-radius-top-xl overflow-auto overflow-x-hidden"
  >
    <ng-content select="bottom-content" />
  </div>
</div>
