<div class="flex justify-between px-5 py-8">
  <div class="flex flex-col items-start">
    <p class="text-sm font-thin">Total Balance</p>
    <p class="text-2xl font-bold">
      {{ transactionsTotals().totalBalance | currency }}
    </p>
  </div>

  <div class="border-l-2 h-11"></div>

  <div class="flex flex-col items-start">
    <p class="text-sm font-thin">Total Expense</p>
    <p class="text-2xl text-vivid-blue">
      {{ transactionsTotals().totalExpenses | currency }}
    </p>
  </div>
</div>
