<app-main>
  <div ngProjectAs="top-content">
    <p class="text-light-green text-3xl font-semibold font-league-spartan">
      Welcome to Expense Manager
    </p>
  </div>

  <div ngProjectAs="bottom-content">
    <div class="flex justify-center items-center">
      <app-circle />
      <img
        src="assets/images/handMoney.png"
        alt="Hand with Money"
        class="w-52 h-52 flex justify-center absolute -translate-y-2"
      />
    </div>

    <p
      class="text-light-green text-2xl font-semibold font-league-spartan mt-10"
    >
      Next
    </p>

    <div class="flex justify-center gap-3 mt-3">
      <input type="radio" value="1" name="1" />
      <input type="radio" value="2" name="1" />
    </div>
  </div>
</app-main>
