<app-main-layout>
  <span ngProjectAs="header-content">Savings</span>

  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6 mt-2">
    <app-total-counters />
  </div>

  <div
    ngProjectAs="bottom-content"
    class="mx-6 w-80 overflow-x-hidden max-h-screen"
    [class.mb-24]="savings().length"
    [class.mt-2]="savings().length"
    (scroll)="onScroll($event)"
  >
    <app-savings-list />

    <div
      class="flex justify-center items-center w-80 fixed -translate-y-2 bottom-24"
    >
      <app-custom-btn
        class="font-semibold"
        width="half"
        text="Add Savings"
        (click)="routerService.navigateToSavingsAdd()"
      />
    </div>
  </div>
</app-main-layout>
