<app-main-layout>
  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6">
    <div class="flex justify-between w-full">
      <div class="flex flex-col items-start">
        <p class="text-2xl">Hi, Welcome Back</p>
        <p class="text-sm font-thin -translate-y-1.5">Good Morning</p>
      </div>

      <app-bell />
    </div>

    <div class="flex justify-between px-5 py-12">
      <div class="flex flex-col items-start">
        <p class="text-sm font-thin">Total Balance</p>
        <p class="text-2xl font-bold">$7,783.00</p>
      </div>

      <div class="border-l-2 h-11"></div>

      <div class="flex flex-col items-start">
        <p class="text-sm font-thin">Total Expense</p>
        <p class="text-2xl text-vivid-blue">-$1.187.40</p>
      </div>
    </div>
  </div>

  <div ngProjectAs="bottom-content" class="mt-6">
    <div
      class="flex items-center justify-between rounded-3xl py-1.5 bg-caribbean-green text-main-layout"
    >
      <div
        class="flex flex-col justify-between items-center w-24 -translate-y-2 mx-3"
      >
        <svg width="100" height="90" viewbox="0 0 100 80">
          <circle
            cx="50"
            cy="50"
            r="30"
            fill="none"
            stroke="#eee"
            stroke-width="2"
          ></circle>
        </svg>
        <app-car class="absolute translate-y-9" />

        <span class="text-sm font-semibold leading-4">
          Saving On <br />goals
        </span>
      </div>

      <div class="border-l-2 h-24"></div>

      <div class="flex flex-col justify-between p-4 leading-4">
        <div class="flex items-center">
          <app-money />

          <div class="flex flex-col items-start ml-3">
            <span class="text-sm">Revenue last week</span>
            <span class="font-extrabold">$4.000.00</span>
          </div>
        </div>

        <hr class="w-40 bg-white my-2.5" />

        <div class="flex items-center">
          <app-silverware class="translate-x-1" />

          <div class="flex flex-col items-start ml-3">
            <span class="text-sm">Food Last Week</span>
            <span class="font-extrabold text-ocean-blue">-$100.00</span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex items-center justify-between rounded-2xl bg-cyprus py-1 px-2.5 my-4"
    >
      @for (data of btnsData(); track $index) {

      <app-custom-btn
        [text]="data.text"
        width="24"
        bgColor="cyprus"
        [selected]="data.selected"
        textColor="white"
        rounded="md"
        (click)="selectedBtnToggle($index)"
      />
      }
    </div>
  </div>
</app-main-layout>
