<app-main-layout>
  <div ngProjectAs="top-content" class="flex flex-col justify-between p-6">
    <div class="flex justify-between w-full">
      <div class="flex flex-col items-start">
        <p class="text-2xl">Hi, Welcome Back</p>
        <p class="text-sm font-thin -translate-y-1.5">Good Morning</p>
      </div>

      <app-bell />
    </div>

    <app-total-counters />
  </div>

  <div
    ngProjectAs="bottom-content"
    [class.mb-24]="transactions().length"
    class="mt-6 mx-6 w-80 overflow-x-hidden max-h-screen"
  >
    <app-random-transactions-card />

    <app-transactions-list />
  </div>
</app-main-layout>
