@for (transaction of transactions(); track transaction._id; let i = $index) {
  @if (shouldDisplayDate(i, transaction, transactions()[i - 1])) {
    <div class="flex mt-6">
      <span class="text-sm">{{
        transaction.date
          | date: getDateFormat(transaction, transactions()[i - 1])
      }}</span>
    </div>
  }

  <div class="flex items-center justify-between mt-2">
    @for (category of categories; track $index) {
      @if (transaction.category === category.name) {
        <ng-container *ngComponentOutlet="category.svgComponent">
        </ng-container>
      }
    }

    <div class="flex flex-col items-start ml-1 w-20">
      <span>{{ transaction.category }}</span>
      <span class="text-xs text-vivid-blue font-semibold">
        {{ transaction.date | date }}
      </span>
    </div>

    <div class="border-l-2 h-8 border-caribbean-green"></div>

    <span class="mx-2 text-sm text-honeydew font-thin">Monthly</span>

    <div class="border-l-2 h-8 border-caribbean-green"></div>

    <span class="text-sm ml-2.5 text-honeydew w-14 text-right">
      {{ transaction.amount | currency }}
    </span>
  </div>
}
