@for (
  transaction of (filteredTransactions().length && filteredTransactions()) ||
    transactions();
  track transaction._id;
  let i = $index
) {
  @if (shouldDisplayDate(i, transaction, transactions()[i - 1])) {
    <div class="flex mt-6">
      <span class="text-sm">{{
        transaction.date
          | date: getDateFormat(transaction, transactions()[i - 1])
      }}</span>
    </div>
  }

  <div
    [class.mb-8]="transactions().length - 1 === i"
    class="flex items-center justify-between mt-2 w-full gap-3"
    (click)="routerService.navigateToTransactionsView(transaction)"
  >
    @for (category of categories; track $index) {
      @if (transaction.category === category.name) {
        <ng-container *ngComponentOutlet="category.svgComponent">
        </ng-container>
      }
    }

    <div class="flex flex-col items-start ml-1 w-full">
      <span>{{ transaction.transactionTitle || transaction.category }}</span>
      <span class="text-xs text-vivid-blue font-semibold">
        {{ transaction.date | date }}
      </span>
    </div>

    <span class="text-sm ml-2.5 text-honeydew w-14" dir="rtl">
      &lrm;{{ transaction.amount | currency }}
    </span>
  </div>
}

@if (loading()) {
  <div class="flex justify-center items-center my-8">
    <app-spinner />
  </div>
}
