@for (transaction of transactions(); track transaction._id) {
  <div class="flex items-center">
    <div class="p-2.5 px-3 bg-light-blue rounded-2xl">
      <
      @for (category of categories; track $index) {
        @if (transaction.category === category.name) {
          <ng-container *ngComponentOutlet="category.svgComponent">
          </ng-container>
        }
      }
    </div>

    <div class="flex flex-col items-start mx-3.5">
      <span>{{ transaction.category }}</span>
      <span class="text-xs text-vivid-blue font-semibold">
        {{ transaction.date | date }}
      </span>
    </div>

    <div class="border-l-2 h-8 border-caribbean-green"></div>

    <span class="mx-4 text-sm text-honeydew font-thin">Monthly</span>

    <div class="border-l-2 h-8 border-caribbean-green"></div>

    <span class="text-sm ml-2.5 text-honeydew">
      {{ transaction.amount | currency }}
    </span>
  </div>
}
