@if (!loading()) {
  <div class="flex flex-col bg-light-green u-border-radius-4xl w-full h-60">
    <div
      class="flex justify-around items-center text-main-layout translate-y-4"
    >
      <span class="font-semibold"> Income & Expenses </span>

      <div class="flex gap-1">
        <app-svg-search (click)="routerService.navigateToSearch()" />
        <app-svg-calendar (click)="routerService.navigateToCalendar()" />
      </div>
    </div>
    <canvas
      baseChart
      [data]="chartData()"
      [options]="chartOptions()"
      [type]="chartType()"
      [legend]="false"
    >
    </canvas>
  </div>
} @else {
  <div class="flex justify-center items-center my-8 w-full h-60">
    <app-spinner />
  </div>
}
