<app-main-layout>
  <span ngProjectAs="header-content">Transactions</span>

  <div ngProjectAs="top-content" class="mt-3">
    <div
      class="flex flex-col text-base bg-honeydew text-main-layout mx-8 p-1 rounded-xl"
    >
      <span class="font-medium">Total balance</span>
      <span class="text-2xl font-extrabold">{{
        transactionsTotals().totalBalance | currency: "EUR" : "symbol" : "1.0-2"
      }}</span>
    </div>

    <div class="flex items-center justify-between mx-8 mt-3 gap-2.5">
      <div
        class="flex flex-col items-center bg-honeydew p-3 rounded-xl w-full"
        [class.text-main-layout]="!isIncomesSelected()"
        [class.bg-ocean-blue]="isIncomesSelected()"
        [class.text-honeydew]="isIncomesSelected()"
        (click)="showIncomesOnly()"
      >
        <app-svg-income
          [stroke]="incomesStrokeColor"
          [fill]="incomesFillColor"
        />
        <p class="text-sm font-medium leading-4">Income</p>
        <p class="text-lg font-bold leading-5">
          {{
            transactionsTotals().totalIncome
              | currency: "EUR" : "symbol" : "1.0-2"
          }}
        </p>
      </div>

      <div
        class="flex flex-col items-center bg-honeydew p-3 rounded-xl w-full"
        [class.text-main-layout]="!isExpensesSelected()"
        [class.bg-ocean-blue]="isExpensesSelected()"
        [class.text-honeydew]="isExpensesSelected()"
        (click)="showExpensesOnly()"
      >
        <app-svg-expenses
          [stroke]="expensesStrokeColor"
          [fill]="expensesFillColor"
        />
        <p class="text-sm font-medium leading-4">Expense</p>
        <p
          class="text-lg font-bold leading-5"
          [class.text-vivid-blue]="!isExpensesSelected()"
        >
          {{
            transactionsTotals().totalExpenses
              | currency: "EUR" : "symbol" : "1.0-2"
          }}
        </p>
      </div>
    </div>
  </div>

  <div
    ngProjectAs="bottom-content"
    [class.mb-24]="transactions().length"
    [class.mt-2]="transactions().length"
    class="mx-6 w-80 overflow-x-hidden max-h-screen"
    (scroll)="onScroll($event)"
  >
    <app-svg-plus
      (click)="routerService.navigateToTransactionsAdd()"
      class="fixed right-0 -translate-x-9 -translate-y-0"
    />

    <app-transactions-list />
  </div>
</app-main-layout>
