<app-main-layout screenMode="full">
  <span ngProjectAs="header-content">Profile</span>

  <div ngProjectAs="bottom-content" class="flex flex-col w-full m-8 gap-5">
    <span class="mb-8 font-bold text-xl">{{ userFullName() }} John Smith </span>

    <div class="flex items-center">
      <app-svg-edit-profile class="mr-3.5" />
      <span class="text-sm">Edit profile</span>
    </div>

    <div class="flex items-center">
      <app-svg-security class="mr-3.5" />
      <span class="text-sm">Security</span>
    </div>

    <div class="flex items-center">
      <app-svg-gear class="mr-3.5" />
      <span class="text-sm">Settings</span>
    </div>

    <div class="flex items-center">
      <app-svg-logout class="mr-3.5" />
      <span class="text-sm">Logout</span>
    </div>
  </div>
</app-main-layout>
