<app-main-layout screenMode="full">
  <span ngProjectAs="header-content">Password Edit</span>

  <div
    ngProjectAs="bottom-content"
    class="flex flex-col items-center w-full m-8"
  >
    <form
      [formGroup]="passwordEditForm"
      id="passwordEditForm"
      class="w-full"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col text-left mt-6 mb-8">
        <label
          for="currPassword"
          class="text-light-green text-sm font-league-spartan mb-1"
          [class.text-red-400]="isCurrPasswordRequired"
        >
          <span>Current Password</span>

          @if (isCurrPasswordRequired) {
            <span> - field required </span>
          }
        </label>
        <input
          id="currPassword"
          [type]="isCurrPasswordVisible ? 'text' : 'password'"
          formControlName="currPassword"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
          placeholder="● ● ● ● ● ● ● ●"
        />

        @if (isCurrPasswordVisible) {
          <app-eye-open
            class="self-end -translate-x-7 -translate-y-7 w-1 h-1"
            (click)="isCurrPasswordVisible = !isCurrPasswordVisible"
          />
        } @else {
          <app-eye-closed
            class="self-end -translate-x-7 -translate-y-5 w-1 h-1"
            (click)="isCurrPasswordVisible = !isCurrPasswordVisible"
          />
        }
      </div>

      <div class="flex flex-col text-left mb-8">
        <label
          for="newPassword"
          class="text-light-green text-sm font-league-spartan mb-1"
          [class.text-red-400]="
            isNewPasswordRequired || isNewPasswordPatternMismatched
          "
        >
          <span>New Password</span>

          @if (isNewPasswordRequired) {
            <span> - field required </span>
          }

          @if (isNewPasswordPatternMismatched) {
            <span>
              - password must contain a special character and one upper case
              character
            </span>
          }
        </label>
        <input
          id="newPassword"
          [type]="isNewPasswordVisible ? 'text' : 'password'"
          formControlName="newPassword"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
          placeholder="● ● ● ● ● ● ● ●"
        />

        @if (isNewPasswordVisible) {
          <app-eye-open
            class="self-end -translate-x-7 -translate-y-7 w-1 h-1"
            (click)="isNewPasswordVisible = !isNewPasswordVisible"
          />
        } @else {
          <app-eye-closed
            class="self-end -translate-x-7 -translate-y-5 w-1 h-1"
            (click)="isNewPasswordVisible = !isNewPasswordVisible"
          />
        }
      </div>

      <div class="flex flex-col text-left mb-8">
        <label
          for="newPasswordConfirm"
          class="text-light-green text-sm font-league-spartan mb-1"
          [class.text-red-400]="
            isNewPasswordConfirmRequired || isNewPasswordConfirmMismatched
          "
        >
          <span>Confirm New Password</span>

          @if (isNewPasswordConfirmRequired) {
            <span> - field required </span>
          }

          @if (isNewPasswordConfirmMismatched) {
            <span> - password mismatch </span>
          }
        </label>
        <input
          id="newPasswordConfirm"
          [type]="isNewPasswordConfirmVisible ? 'text' : 'password'"
          formControlName="newPasswordConfirm"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
          placeholder="● ● ● ● ● ● ● ●"
        />

        @if (isNewPasswordConfirmVisible) {
          <app-eye-open
            class="self-end -translate-x-7 -translate-y-7 w-1 h-1"
            (click)="isNewPasswordConfirmVisible = !isNewPasswordConfirmVisible"
          />
        } @else {
          <app-eye-closed
            class="self-end -translate-x-7 -translate-y-5 w-1 h-1"
            (click)="isNewPasswordConfirmVisible = !isNewPasswordConfirmVisible"
          />
        }
      </div>
    </form>

    <app-custom-btn
      bgColor="primary"
      text="Change Password"
      class="mt-4 font-semibold"
      type="submit"
      form="passwordEditForm"
      width="half"
      [loading]="loading()"
    />
  </div>
</app-main-layout>
