@if (showNav()) {
  <nav class="w-full p-8 bg-cyprus absolute -bottom-7 u-nav-border-radius z-50">
    <div class="flex justify-evenly w-full items-center -translate-y-3">
      <app-svg-home
        [strokeColor]="getSvgStrokeColor(0)"
        class="px-3.5 rounded-2xl"
        [class.bg-caribbean-green]="isSvgSelected(0)"
        (click)="onSvgClick(0, 'home')"
      />

      <app-svg-analysis
        [strokeColor]="getSvgStrokeColor(1)"
        class="px-3.5 rounded-2xl"
        [class.bg-caribbean-green]="isSvgSelected(1)"
        (click)="onSvgClick(1, 'analysis')"
      />

      <app-svg-transaction
        [strokeColor]="getSvgStrokeColor(2)"
        class="px-3.5 rounded-2xl"
        [class.bg-caribbean-green]="isSvgSelected(2)"
        (click)="onSvgClick(2, 'transactions')"
      />

      <app-svg-category
        [strokeColor]="getSvgStrokeColor(3)"
        class="px-3.5 rounded-2xl"
        [class.bg-caribbean-green]="isSvgSelected(3)"
        (click)="onSvgClick(3, 'savings')"
      />

      <app-svg-profile
        [strokeColor]="getSvgStrokeColor(4)"
        class="px-3.5 rounded-2xl"
        [class.bg-caribbean-green]="isSvgSelected(4)"
        (click)="onSvgClick(4, 'settings')"
      />
    </div>
  </nav>
}
