<button
  class="rounded-full text-cyprus py-1.5 flex justify-center"
  [class]="getCustomWidth()"
  [type]="type()"
  [attr.form]="form()"
  [class.bg-caribbean-green]="bgColor() === 'primary' || selected()"
  [class.bg-light-green]="bgColor() === 'secondary'"
  [class.bg-cyprus]="bgColor() === 'cyprus' && !selected()"
  [class.text-white]="textColor() === 'white' && !selected()"
  [class.text-main-layout]="textColor() !== 'white' && selected()"
  [class.w-full]="width() === 'full'"
  [class.min-w-44]="width() === 'half'"
  [class.py-3]="width() !== 'half'"
  [class.u-border-radius-md]="rounded() === 'md'"
  [disabled]="loading()"
>
  @if (loading() ) {
  <app-spinner />
  }@else {
  <span>{{ text() }}</span>
  }
</button>
