<app-main-layout screenMode="full">
  <span ngProjectAs="header-content">
    {{ transaction.transactionTitle || transaction.category }}
  </span>

  <div ngProjectAs="bottom-content" class="flex flex-col w-full h-screen my-8">
    <div class="flex justify-between items-center mx-14">
      <div class="flex flex-col">
        <label class="text-sm font-thin">Amount</label>
        <span
          class="text-2xl font-bold"
          [class.text-vivid-blue]="transaction.amount! < 0"
          >{{ transaction.amount | currency: "EUR" : "symbol" : "1.0-2" }}</span
        >
      </div>

      @for (category of categories; track $index) {
        @if (transaction.category === category.name) {
          <ng-container
            *ngComponentOutlet="
              category.svgComponent;
              injector: injectSvgProps()
            "
          >
          </ng-container>
        }
      }
    </div>

    <div class="flex flex-col mt-10 text-left">
      <span class="text-2xl font-semibold ml-6">Description: </span>
      <p class="mt-6 mx-6">
        {{ transaction.description || "No description" }}
      </p>
    </div>

    <div
      class="flex justify-center items-center self-center fixed -translate-y-2 bottom-24 gap-3"
    >
      <app-custom-btn
        class="font-semibold"
        width="min"
        text="Edit"
        bgColor="secondary"
        (click)="routerService.navigateToTransactionsEdit(transaction)"
      />

      <app-custom-btn
        class="font-semibold"
        width="min"
        text="Delete"
        (click)="openDialog()"
      />
    </div>

    <app-dialog [open]="isDialogOpen()" (closeEmitter)="closeDialog()">
      <div
        ngProjectAs="content"
        class="flex flex-col justify-between items-center text-honeydew px-12 py-9"
      >
        <span class="text-lg font-semibold mb-1">Delete transaction?</span>
        <span class="text-sm">You will not be able to recover it</span>

        <app-custom-btn
          class="m-2 mt-10 font-semibold"
          text="Yes"
          width="half"
          (click)="onTransactionDelete()"
          [loading]="loading()"
        />
        <app-custom-btn
          class="font-semibold"
          text="Cancel"
          width="half"
          bgColor="secondary"
          (click)="closeDialog()"
        />
      </div>
    </app-dialog>
  </div>
</app-main-layout>
