// Colors
$color-honeydew: #F1FFF3;
$color-light-green: #DFF7E2;
$color-caribbean-green: #00D09E;
$color-cyprus: #0E3E3E;
$color-fence-green: #052224;
$color-void: #031314;
$color-light-blue: #6DB6FE;
$color-vivid-blue: #3299FF;
$color-ocean-blue: #0068FF;
$color-main-layout: #093030;

// Fonts
$default-font-size: 1.6rem;
$font-color-primary: $color-light-green;
$font-color-secondary: $color-cyprus;

$default-font-family: 'League Spartan';