<app-main-layout screenMode="full">
  <span ngProjectAs="header-content">
    {{ !selectedTransaction ? "Add Transaction" : "Edit Transaction" }}
  </span>

  <div ngProjectAs="bottom-content" class="flex flex-col items-center h-screen">
    <form
      [formGroup]="transactionsForm"
      (ngSubmit)="onSubmit()"
      id="transactionsAddForm"
      class="w-72 mt-8 mb-4"
    >
      <div class="flex flex-col text-left mb-4">
        <label
          for="date"
          class="text-light-green text-sm font-league-spartan translate-x-3 mb-1"
          [class.text-red-400]="isDateRequired"
        >
          <span>Date</span>

          @if (isDateRequired) {
            <span> - field required </span>
          }
        </label>
        <input
          id="date"
          type="date"
          formControlName="date"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
        />
      </div>

      <div class="flex flex-col text-left mb-4">
        <label
          for="category"
          class="text-light-green text-sm font-league-spartan translate-x-3 mb-1"
          [class.text-red-400]="isCategoryRequired"
        >
          <span>Category</span>

          @if (isCategoryRequired) {
            <span> - field required </span>
          }
        </label>

        <div
          id="category"
          class="rounded-full bg-light-green p-1 px-6 text-main-layout z-10"
          form="transactionsAddForm"
          (click)="toggleCategoryDropdown.set(!toggleCategoryDropdown())"
          (mouseleave)="toggleCategoryDropdown.set(false)"
        >
          @if (!categoryFormValue) {
            <span class="opacity-50">Select Category</span>
          } @else {
            <span>
              {{ categoryFormValue }}
            </span>
          }
        </div>

        @if (toggleCategoryDropdown()) {
          <div
            class="bg-light-green flex flex-col rounded-t-2xl rounded-b-2xl -translate-y-7"
          >
            <ul class="py-2 text-sm text-main-layout px-6 mt-4">
              @for (
                category of categoryService.getAllCategories;
                track category.id
              ) {
                <li (click)="setCategory(category.name)">
                  <p class="text-lg py-1" form="transactionsAddForm">
                    {{ category.name }}
                  </p>
                </li>
              }
            </ul>
          </div>
        }
      </div>

      <div class="flex flex-col text-left mb-4">
        <label
          for="amount"
          class="text-light-green text-sm font-league-spartan translate-x-3 mb-1"
          [class.text-red-400]="isAmountRequired"
        >
          <span>Amount</span>

          @if (isAmountRequired) {
            <span> - field required </span>
          }
        </label>
        <input
          id="amount"
          type="text"
          formControlName="amount"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
          placeholder="€10.00"
          (mouseleave)="formatAmountOnLeave()"
          (mouseenter)="formatAmountOnEnter()"
        />
      </div>

      <div class="flex flex-col text-left mb-4">
        <label
          for="transactiontitle"
          class="text-light-green text-sm font-league-spartan translate-x-3 mb-1"
          [class.text-red-400]="transactionTitleLengthExceeded"
        >
          <span>Transaction Title</span>

          @if (transactionTitleLengthExceeded) {
            <span class="translate-x-3 mb-1 text-sm">
              - max length of 50 characters exceeded
            </span>
          }
        </label>
        <input
          id="transactiontitle"
          type="text"
          formControlName="transactionTitle"
          class="rounded-full bg-light-green outline-none p-1 px-6 text-main-layout"
          placeholder="Lunch"
        />
      </div>

      <div class="flex flex-col text-left mb-4">
        <label
          for="description"
          class="text-light-green text-sm font-league-spartan translate-x-3 mb-1"
          [class.text-red-400]="descriptionMaxLengthExceeded"
        >
          <span>Description</span>
          @if (descriptionMaxLengthExceeded) {
            <span class="translate-x-3 mb-1 text-sm">
              - max length of 50 characters exceeded
            </span>
          }
        </label>

        <textarea
          id="description"
          class="rounded-xl bg-light-green outline-none px-6 py-3 p-1 text-main-layout h-24 leading-3 resize-none"
          placeholder="..."
          formControlName="description"
        >
        </textarea>
      </div>
    </form>

    <app-custom-btn
      form="transactionsAddForm"
      type="submit"
      width="half"
      text="Save"
      [loading]="loading()"
    />
  </div>
</app-main-layout>
