*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-color: $color-fence-green;
}

body {
    box-sizing: border-box;
    // font-family: $default-font-family;
    color: $font-color-primary;
    overflow-x: hidden;
}