.u-border-radius-top-xl {
    border-top-left-radius: 3.1rem !important;
    border-top-right-radius: 3.1rem !important;
}

.u-border-radius-md {
    border-radius: 1.2rem !important;
}

.u-border-radius-3\.5xl {
    border-radius: 2.4rem !important;
}

.u-border-radius-4xl {
    border-radius: 3rem !important;
}

.u-nav-border-radius {
    border-top-left-radius: 3.6rem !important;
    border-top-right-radius: 3.6rem !important;
}